h1,p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p{
    color: grey;
    
}

.robot{
    display: flex;
    justify-content: center;
}

.body{

}



.head{
    
    background-color: #5f93e8;
    width: 200px;
    height: 200px;
    border-radius: 200px 200px 0 0;
    transition: all 1s;
    margin: 0 auto;
}

.mouth {
    background-color:red;
    width: 20px; 
      height: 1px; 
    position: relative;
    top: 130px; 
      left: 48px;
      display: none;
  }

.righteye{
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative; 
	top: 120px; 
	left: 137px;
    display: flex;
}
.lefteye{
    background-color:white;
    border-radius: 100% ;
    width: 20px;
    height: 20px;
    position: relative;
    top: 140px; 
	left: 40px;
    display: flex;
}
.upperbody{
    
    width: 200px;
    height: 220px;
    background-color: #5f93e8;
    margin-top: 10px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;

}
.leftarm{
    width: 40px;
    height: 170px;
    background-color: #5f93e8;
    border-radius: 100%;
    position: relative;
    top:10px;
    right: 50px;
    transition: all 1s;
}
.rightarm{
    width: 40px;
    height: 170px;
    background-color:#5f93e8;
    border-radius: 100%;
    position: relative;
    bottom: 155px;
    left: 210px;
    transition: all 1s;
}
.leftleg{
    width: 40px;
    height: 100px;
    background-color:#5f93e8;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    left:44px;
    bottom: 20px;
}
.rightleg{
    width: 40px;
    height: 100px;
    background-color: #5f93e8;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    left: 112px;
    bottom: 120px;
    
}
.rightarm:hover{
    transform: translate(0px,-50%) scale(1.2);
}
.leftarm:hover{
    transform: translate(0px,-50%) scale(1.2);
}
.rightleg:hover{
    transform: rotate(-25deg) ;
}
.leftleg:hover{
    transform: rotate(25deg);
}
.head:hover{
    width: 300px;
    transition: 1s ease-in-out;
}
.head:hover .righteye,
.head:hover .lefteye {
  box-shadow: 
    inset 5px 0 5px #9c0058
}
.head:hover .mouth{
    display: block;
}

